<h1>New Order</h1>

<%= form_for @order do |f| %>
  <%= f.label :shipping_address %>
  <%= f.text_area :shipping_address %>

  <%= f.label :order_address %>
  <%= f.text_area :order_address %>

  <%= f.label :order_email %>
  <%= f.email_field :order_email %>

  <%= f.label :order_date %>
  <%= f.date_select :order_date %>

  <%= f.label :order_state %>
  <%= f.select :order_state, options_for_select(Order::STATES) %>

  <%= f.submit %>
<% end %>
